.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:1422px;
	height:1024px;
	position:absolute;
}.e3_3 { 
	width:181px;
	height:192px;
	position:absolute;
	left:404px;
	top:397px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/professor_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_4 { 
	width:163px;
	height:192px;
	position:absolute;
	left:202px;
	top:397px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/ursula_corbero_la_casa_de_papel_1200x800_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_5 { 
	width:167px;
	height:192px;
	position:absolute;
	left:627px;
	top:397px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/nairobi_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_6 { 
	width:178px;
	height:192px;
	position:absolute;
	left:834px;
	top:397px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/miguel_herrai_n_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_9 { 
	width:197px;
	height:62px;
	position:absolute;
	left:52px;
	top:28px;
	background-image:url(images/logotipo_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_10 { 
	color:rgba(255, 255, 255, 1);
	width:532px;
	height:54px;
	position:absolute;
	left:445px;
	top:308px;
	font-family:Inter;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}.e15_2 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:34px;
	position:absolute;
	left:217px;
	top:600px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e15_3 { 
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:34px;
	position:absolute;
	left:407px;
	top:600px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e15_4 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:33px;
	position:absolute;
	left:635px;
	top:601px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e15_6 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:29px;
	position:absolute;
	left:848px;
	top:605px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e15_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:328px;
	height:58px;
	position:absolute;
	left:547px;
	top:748px;
}.15_7 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e15_8 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:191px;
	height:30px;
	position:absolute;
	left:615px;
	top:762px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e15_9 { 
	width:179px;
	height:192px;
	position:absolute;
	left:1051px;
	top:397px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/images_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e15_10 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:1071px;
	top:607px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}