.4_26 { 
	overflow:hidden;
}.e4_26 { 
	background-color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:1422px;
	height:1292px;
	position:absolute;
}.e10_53 { 
	width:160px;
	height:225px;
	position:absolute;
	left:813px;
	top:1028px;
	background-image:url(images/n7_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_57 { 
	width:172px;
	height:225px;
	position:absolute;
	left:1157px;
	top:1029px;
	background-image:url(images/n1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_55 { 
	width:166px;
	height:219px;
	position:absolute;
	left:476px;
	top:1027px;
	background-image:url(images/n5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_10 { 
	width:157px;
	height:217px;
	position:absolute;
	left:148px;
	top:1029px;
	background-image:url(images/images_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e15_11 { 
	width:210px;
	height:68px;
	position:absolute;
	left:42px;
	top:32px;
	background-image:url(images/logotipo_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_14 { 
	width:1370px;
	height:903px;
	position:absolute;
	left:25px;
	top:117px;
	background-image:url(images/l1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_15 { 
	color:rgba(255, 255, 255, 1);
	width:402px;
	height:72px;
	position:absolute;
	left:26px;
	top:940px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e18_16 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:63px;
	position:absolute;
	left:266px;
	top:44px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e18_17 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:57px;
	position:absolute;
	left:361px;
	top:47px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e18_18 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:57px;
	position:absolute;
	left:471px;
	top:47px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e18_19 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:49px;
	position:absolute;
	left:621px;
	top:51px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e18_20 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:38px;
	position:absolute;
	left:795px;
	top:57px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e25_21 { 
	color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:168px;
	height:225px;
	position:absolute;
	left:25px;
	top:1028px;
	font-family:Inter;
	text-align:center;
	font-size:260px;
	letter-spacing:0;
}.e25_23 { 
	color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:168px;
	height:225px;
	position:absolute;
	left:326px;
	top:1029px;
	font-family:Inter;
	text-align:center;
	font-size:260px;
	letter-spacing:0;
}.e25_24 { 
	color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:168px;
	height:225px;
	position:absolute;
	left:669px;
	top:1028px;
	font-family:Inter;
	text-align:center;
	font-size:260px;
	letter-spacing:0;
}.e25_26 { 
	color:rgba(12.750000189989805, 12.431250493973494, 12.431250493973494, 1);
	width:168px;
	height:225px;
	position:absolute;
	left:1003px;
	top:1040px;
	font-family:Inter;
	text-align:center;
	font-size:260px;
	letter-spacing:0;
}.e25_27 { 
	color:rgba(232.35546469688416, 31.303495466709137, 31.303495466709137, 1);
	width:61px;
	height:69px;
	position:absolute;
	left:66px;
	top:357px;
	font-family:Inter;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e25_28 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:27px;
	position:absolute;
	left:113px;
	top:386px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e25_29 { 
	color:rgba(255, 255, 255, 1);
	width:514px;
	height:68px;
	position:absolute;
	left:55px;
	top:426px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}